#alquiler-detail-component{
    box-shadow: -2px -4px 400px 600px rgba(0,0,0,0.24);
    background-color: var(--neutral-white);
    display: grid;
    grid-template-areas: "titulo"
                         "detalles";
    position: absolute;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    top: 30%;
    left: 30vw;
    border-radius:20px; 
    width: 40vw;
    z-index: 20;
    text-align: center;
    border: 5px solid var(--primary-blue);
    background-color: var(--neutral-white);
    cursor: default;
}

#close-detail-btn{
    position: absolute;
    font-family: var(--title-text);
    background: none;
    border: none;
    font-size: 150%;
    color: var(--neutral-black);
    right: 2%;
    transition: all 0.5s ease;
}


#close-detail-btn:hover{
    font-size: 175%;
    font-weight: bolder;
    color: #CC3636;
    cursor: pointer;
}
.clase-caja-alq{
    background-color: var(--primary-blue);
    border-radius: 20px;
    text-align: start;
    padding-top: 5%;
    box-shadow: 0px 1px 5px var(--neutral-black);
}
.clase-caja-alq h3{
    border-bottom: 2px solid var(--neutral-white-text);
    text-align: center;
}
.clase-caja-alq p{
    padding: 3%;
}
#alquiler-detail-general{
    grid-area:titulo;
    font-family: var(--title-text);
    color: var(--neutral-black);
    width: 90%;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 3%;
    padding: 0;
    text-align: center;
    flex-direction: column;
}

#alquiler-detail-general h2{
    font-family: var(--title-text);
    color: var(--neutral-white-text);
    font-size: 250%;
    padding: 0;
}
#alquiler-detail-general p{
    font-family: var(--title-text);
    text-shadow: 0px 0px 10px var(--neutral-white-text);
    font-size: 150%;
    padding: 0;
}

#alquiler-detail-detail{
    grid-area: detalles;
    border-radius: 20px;
    text-align: start;
    margin: 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#alquiler-detail-detail h3{
    font-family:var(--title-text);
    font-size: 150%;
    color: var(--neutral-white-text) ;
}
.alquiler-detail-nombre{
    font-family: var(--normal-text);
    color: var(--accent-yellow);
    font-weight: bolder;
    font-size: 120%;
}

.alquiler-detail-numeros{
    font-family: var(--normal-text);
    color: var(--neutral-white-text);
    font-size: 120%;
}