#home-component{
    background-color: var(--primary-green);
    height: 100vh;
}

#table-component{
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

#table-options{

    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    width: 100%;
    height: 5vh;
    background-color: var(--neutral-black);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addReservaBtn{
    width: 15vw;
    height: 100%;
    border-top-left-radius: 20px;
    border: none;
    background-color: var(--accent-green);
    font-size: 150%;
    color: var(--neutral-white-text);
}

#diaDeHoy{
    font-family: var(--title-text);
    color: var(--neutral-white-text);
    font-size: 150%;
}

.table-options-inputFecha{
    width: 15vw;
    height: 100%;
    font-family: var(--normal-text);
    font-size: 110%;
    border-top-right-radius: 20px;
    border: 1px solid var(--neutral-black);
}

.table-options-inputFecha:focus{
    outline: 1.4px solid var(--accent-yellow);
}
#table-grid{

    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
   
    background-color: var(--neutral-white);
 
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: 50vh;
    overflow-y: scroll;

    width: 80vw;
    overflow-x: scroll;
}
#hora{
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    font-family: var(--normal-text);
    font-size: 150%;
    text-align: center;
    padding: 4%;
    border-right: 1px solid var(--accent-green) ;
    border-bottom: 1px solid var(--accent-green) ;
    width: 15vw;
}
.horas{
    background-color: var(--neutral-black);
    color: var(--neutral-white-text);
    font-family: var(--normal-text);
    font-size: 150%;
    text-align: center;
    padding: 4%;
    width: 15vw;
}

.canchas{
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    font-family: var(--normal-text);
    width: 25vw;
    font-size: 150%;
    text-align: center;
    padding: 4%;
    border-right: 1px solid var(--accent-green) ;
    border-bottom: 1px solid var(--accent-green) ;  
}

.reservas{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#reserva-info{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    margin-top: 2vh;
    align-items: flex-start;
    text-align: center;
    
}

#reserva-nombre{
    color: var(--accent-yellow);
    font-family: var(--normal-text);
    font-size: 150%;
}

#reserva-rol{
    color: var(--neutral-white-text);
    font-size: 90%;
    font-family: var(--normal-text);
}
#reserva-horario{
    margin-top: 0.5vh;
    color: var(--accent-yellow);
    font-size: 100%;
    font-family: var(--normal-text);
}