#pagos-component{
    background-color: var(--primary-blue);
    height: 100%;
}
#pagos-component-mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: auto;
    margin-top: 5vh;
    align-items: center;
    margin-bottom: 10%;
}

#pagos-list-component{
    margin-top: 2vh;
    width: 100%;
    border-radius: 20px;
    background-color: var(--neutral-white);
    cursor: default;
}
#pagos-list-options{
    height: 8vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--neutral-black);
    font-family: var(--title-text);
    font-size: 150%;
    background-color: var(--neutral-white);
    border-bottom: 5px solid var(--neutral-black);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 2%;
}

.pago-info{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5%;
    padding: 1%;
    border-radius: 12px;
    background-color: var(--neutral-black);
    color: var(--neutral-white-text);
    font-family: var(--normal-text);
    font-size: 110%;
}

#pagos-list{
    min-height: 100%;
    max-height: 60vh;
    overflow-y: scroll; 
}
#pagos-list::-webkit-scrollbar {
    width: 12px;/* width of the entire scrollbar */
}
  
#pagos-list::-webkit-scrollbar-track {
    background-color:transparent;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    opacity: .5;   
}
  
#pagos-list::-webkit-scrollbar-thumb {
      
    background-color: var(--accent-green);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid var(--neutral-white);  /* creates padding around scroll thumb */
}

/* Pago add form */
#pago-add-component{
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    border-radius:20px; 
    width: 40vw;
    z-index: 20;
    box-shadow: -2px -4px 400px 600px rgba(0,0,0,0.24);
}
#close-pago-add-form{
    background:  none;
    position: absolute;
    top: 1vh;
    border: none;
    right: 2vw;
    font-family: var(--title-text);
    font-size: 150%;
    color: var(--neutral-black);
    transition: all 0.5s ease;
    cursor: pointer;
}
#close-pago-add-form:hover{
    font-size: 175%;
    font-weight: bolder;
    color: #CC3636;
}

#pago-add-component h2{
    width: 100%;
    
    margin-top: 3vh;
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    font-size: 250%;
    text-align: center;
    font-family: var(--title-text);
}
#pago-add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--neutral-white);
}
#pago-add-form-addBtn{
    width: 100%;
    background-color: var(--accent-green);
    height: 5rem;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
#pago-add-form-addBtn:disabled{
    background-color: var(--neutral-black);
}

#pagos-add-form-btn{
    color: var(--accent-green);
    background-color: var(--accent-green);
    border: none;
    color: var(--neutral-white);
    font-size: 350%;
}
#pago-form-select{
    margin-top: 0;

}
#pago-form-input{
    margin-top: 0;
}
.pago-form-label{
    font-family: var(--normal-text);

    width: 90%;
    color: var(--accent-green);
}



