#profesores-component{
    background-color: var(--primary-blue);
    height: 100vh;
}

#profesores-component-mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70vw;
    /* Cambiar aca a 35vw si queremos algo compatible con las canchas */
    margin: auto;
    margin-top: 10vh;
    align-items: center;

}

#profesores-list-component{
    margin-top: 2vh;
    width: 100%;
    border-radius: 20px;
    background-color: var(--neutral-white);
}

#profesores-list-options{
    height: 5vh;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--neutral-white-text);
    font-family: var(--title-text);
    font-size: 150%;
    background-color: var(--neutral-black);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 2%;

}

#profesores-searchbar{
    position: relative;
    width: 90%;
}

#profesores-searchbar input{
    width: 100%;
    
    font-family: var(--normal-text);
    font-size: 80%;
    border-radius: 10px;
    border: none;
    color: var(--neutral-black);
    padding-left: 2%;
}

#profesores-searchbar input:focus{
    outline: 1.4px solid var(--accent-yellow);
    border: none;
}

#magnify-icon{
    color: var(--neutral-black);
    position: absolute;
    top: 30%;
    right: 5%;
}

.profesor-info{
    display: grid;
    grid-template-columns: 30% 30%;
    margin: 0.5%;
    padding: 1%;
    border-radius: 12px;
    background-color: var(--neutral-black);
    color: var(--neutral-white-text);
    font-family: var(--normal-text);
    font-size: 110%;
}

#profesor-add-component{
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    border-radius:20px; 
    width: 40vw;
    z-index: 20;
    box-shadow: -2px -4px 400px 600px rgba(0,0,0,0.24);
}

#close-profesor-add-form{
    background:  none;
    position: absolute;
    top: 1vh;
    border: none;
    right: 2vw;
    font-family: var(--title-text);
    font-size: 150%;
    color: var(--neutral-black);
    transition: all 1s ease;
}

#profesor-add-component h2{
    width: 100%;
    
    margin-top: 3vh;
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    font-size: 250%;
    text-align: center;
    font-family: var(--title-text);
}

#profesor-add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--neutral-white);
}

.profesor-add-form-input{
    font-family: var(--normal-text);
    margin: auto;
    margin-bottom: 15px;
    width: 90%;
    height: 2.2rem;
    border-radius: 2px;
    font-size: large;
    background-color: var(--neutral-white);
    border: 1px solid lightgrey;
    color: var(--neutral-black);
    padding-left: 5px;
    transition: all 0.5s ease;
}

.profesor-add-form-input:focus{
    border:none;
    outline: 1.4px solid var(--accent-yellow);
}

.profesor-add-form-input:disabled{
    border: none;
    background-color: var(--neutral-black);
}

#profesor-add-form-addBtn{
    width: 100%;
    background-color: var(--accent-green);
    height: 5rem;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

#profesor-add-form-addBtn:disabled{
    background-color: var(--neutral-black);
}

.feedbackInline{
    font-family: var(--normal-text);
    position: relative;
    top: -1.5vh;
    font-size: 80%;
}
